@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}

body{
  background: #F4F5F7;
}

div#content{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 92px 12fr ;
  grid-template-areas: 
  "header header"
  "nav tasksArea";
  height: 100vh;
}

/* Header */
div#content > div#header{
  grid-area: header;
  height: 92px;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "search logo profile";
}

div#header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#header > ul#inbox{
  grid-area: search;
  list-style: none;
  margin-left: 30px;
}



div#header > ul#inbox > li:nth-child(2){
 width: 400px;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}

div#header > ul#inbox > li:nth-child(1) > span{
  padding: 10px;
  border: 2px solid #B6B6B6;
  border-radius: 7px;
  cursor: pointer;
  color: #B6B6B6;

  font-weight: 500;
}
div#header > ul#inbox > li:nth-child(1) > span:hover{
  background-color: #4653EC;
  border: 2px solid #4653EC;
  transition: 1s all ease;
}

div#header > ul#inbox > li:nth-child(2) > span { 
  position: relative;
  top: 10px;
  left: 40px;
  color: #B6B6B6;
  font-weight: 500;

}

div#header > ul#inbox > li:nth-child(2) > input {
  padding: 10px 70px;
  border-radius: 10px;
  font-size: 1.1rem;
  background: inherit;
  border: 2px solid #B6B6B6;
  color: #FCFF7A;
}

div#header > ul#inbox > li:nth-child(2) > input:focus{
  background: #4653EC;
  padding: 10px 78px;
  transition: 1s all ease;
}


div#header > ul#logo{
  grid-area: logo;
} 

ul#logo > img{
  width: auto;
  height: 70%;
}

div#header > ul#account-info{
  grid-area: profile;
  list-style: none;
}
ul#account-info > li{
  margin-right: 30px;
}

ul#account-info > li > span{
  padding: 10px;
  cursor: pointer;
  
}
ul#account-info > li#add-task > span,  ul#account-info > li#notification > span{
  border: 2px solid #B6B6B6;
  border-radius: 7px;
  color: #B6B6B6;
  font-weight: 500;
}

ul#account-info > li#add-task > span:hover,  ul#account-info > li#notification > span:hover{
  background-color: #4653EC;
  border: 2px solid #4653EC;
  transition: 1s all ease;
}

ul#account-info > li#profile-pic{
  border: 2px solid #B6B6B6;
  border-radius: 150px;
  background: #4653EC;
}
 
ul#account-info > li#profile-pic > img{
  width: auto;
  height: 70%;
}


/* Nav Area */

div#content > div#navbar{
  grid-area: nav;
  border: 2px solid #4653EC;
  border-radius: 0px 20px 20px 0 ;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 4fr 6fr 2fr;
  grid-template-areas: 
  "dateViews"
  "projectViews"
  "soon";
  width: 450px;
  background-color:#B6B6B6 ;
  /* width: calc(100%/4); */
}

div#content > div#navbar > ul{
  margin: 20px 30px;
}

div#content > div#navbar > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 7px;
  background: none;
}

div#content > div#navbar > ul > li:hover{
  background:#4653EC;
  transition: 1s all ease;
}

div#content > div#navbar > ul > li.active {
  background:#4653EC;
}

div#content > div#navbar > ul#date-views{
  grid-area: dateViews;
  font-weight: 400;
}

div#content > div#navbar > ul#date-views > li:nth-child(1){
  color: #C5EABE;
}

div#content > div#navbar > ul#date-views > li:nth-child(2){
  color: #FCFF7A;
}

div#content > div#navbar > ul#date-views > li:nth-child(3){
  color: #D9CEDE;
}


div#content > div#navbar > ul#project-views{
  grid-area: projectViews;
  color: #F4F5F7;
}

div#content > div#navbar > ul#soon{
  grid-area: soon;
  color: #F4F5F7;
  position: relative;
  top: 20px;
}

div#content > div#navbar > ul#soon > li > span{
  color: #FCFF7A;
  background: #D9CEDE;
  padding: 7px 10px;
  border-radius: 7px;
}

/* tasks Area */
div#content > div#tasks-area{
  grid-area: tasksArea;
  /* border: 1px solid red; */
  /* width: 913.867px; */
  padding: 20px 60px;
  margin: 0 30px;


}
div#content > div#tasks-area > h1#area-name{
  font-size: 3rem;
  color: #B6B6B6;
  border-bottom: 1px solid #B6B6B6;

}


div#content > div#tasks-area >  button#show{
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #4653EC;
  background: inherit;
  border: none;
  border-radius: 7px;
  padding: 10px;
  gap: 5px;
}



div#content > div#tasks-area > button#show:hover{
  color: #FCFF7A;
  background-color: #D9CEDE;
  border: 1px solid #D9CEDE;
  margin: 10px;
  transition: 1s all ease;
}

div#content> div#tasks-area > dialog#add-a-task {
  border: 1px solid #B6B6B6;
  border-radius: 15px;
  width: inherit;
  position: inherit;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  /* "editIcon editIcon editIcon" */
  "name name editIcon"
  "description description description"
  "selection selection selection"
  "taskAction taskAction taskAction";
  gap: 10px;
  font-size: 1.2rem;
  background-color: #F4F5F7;
}
div#tasks-area > dialog#add-a-task > input:focus , dialog#add-a-task > textarea#task-description:focus{
  outline: transparent;
  transition: 1s all ease;
}

div#tasks-area > dialog#add-a-task > input#task-name{
  grid-area: name;
  font-weight: 700;
  border: none;
  background: inherit;
}

div#tasks-area > dialog#add-a-task > span{
  grid-area: editIcon;
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: #B6B6B6;
  cursor: pointer;
}
div#tasks-area > dialog#add-a-task > span.active{
  color: #4653EC;
  transition: 1s all ease;
}

div#tasks-area > dialog#add-a-task > textarea#task-description{
  grid-area: description;
  border: none;
  background: inherit;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
}


div#tasks-area > dialog#add-a-task > ul#selection {
  grid-area: selection;
  padding-bottom: 15px;
  border-bottom:1px solid #B6B6B6;
  display: flex;
  gap: 10px;
  
}

div#tasks-area > dialog#add-a-task > ul#selection > input#task-due-date{
  grid-area: selection;
  padding: 5px 10px;
  width: 160px;
  border: 1px solid #B6B6B6;
  border-radius: 7px;
  background: inherit;
  color: #B6B6B6;
}

ul#selection > input#task-due-date:focus{
  outline: transparent;
  transition: 1s all ease;
  cursor: pointer;
}
div#tasks-area > dialog#add-a-task > ul#selection > select {
  grid-area: selection;
  padding: 5px 10px;
  width: 160px;
  border: 1px solid #B6B6B6;
  border-radius: 7px;
  background: #F4F5F7;
  color: #333333;
}
div#tasks-area > dialog#add-a-task > ul#selection > select:focus, div#tasks-area > dialog#add-a-task > ul#selection > select > option::after{
  outline: transparent;
  transition: 1s all ease;
  background-color: #D9CEDE;
  color: #FCFF7A;
}

dialog#add-a-task > ul#selection > select > span.material-symbols-outlined {
  font-family: 'Material Icons';
  font-size: 1rem;
}

div#tasks-area > dialog#add-a-task > select#priority-type:nth-child(1) option:checked{
  color: #EE402E;
}
div#tasks-area > dialog#add-a-task > select#priority-type:nth-child(2) option:checked{
  color: #eb8909;
}
div#tasks-area > dialog#add-a-task > select#priority-type:nth-child(3) option:checked{
  color: #C0E0DB;
}
div#tasks-area > dialog#add-a-task > select#priority-type:nth-child(4) option:checked{
  color: #B8B8B8;
}

div#tasks-area > dialog#add-a-task > select#task-type{
  grid-area: taskType;
}

div#tasks-area > dialog#add-a-task > ul#task-action {
  grid-area: taskAction;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 0;
}

div#tasks-area > dialog#add-a-task > ul#task-action > button{
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

div#tasks-area > dialog#add-a-task > ul#task-action > button:nth-child(1){
  border: 1px solid #B8B8B8;
  background-color:#F4F5F7;
}

div#tasks-area > dialog#add-a-task > ul#task-action > button:nth-child(2){
  border: 1px solid #4653EC;
  background-color: #4653EC;
  color: #F4F5F7;

}


div#tasks-area > dialog#add-a-task > ul#task-action > button:nth-child(2):hover{
  border: 1px solid #D9CEDE;
  background-color: #D9CEDE;
  color: #FCFF7A;
  margin: 0 10px;
  transition: 1s all ease;
}

div#tasks-area > dialog#add-a-task > ul#task-action > button:nth-child(1):hover{
  border: 1px solid #4653EC;
  background-color: #F4F5F7;
  color: #4653EC;
  margin: 0 10px;
  transition: 1s all ease;
}



/* taskBlock  */

div#content> div#tasks-area > div#a-task{
  
  border-radius: 15px;
  width: inherit;
  position: inherit;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 30px 4fr 4fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  /* "editIcon editIcon editIcon" */
  "mainInfo mainInfo mainInfo mainInfo"
  ". description description description"
  ". selection selection selection"
  ". taskAction taskAction taskAction";
  gap: 10px;
  background-color: #F4F5F7;
  font-weight: 300;
  color: #333333;
}
div#content> div#tasks-area > div#a-task.edit-mode{
  border: 1px solid #B6B6B6;
  transition: 1s all ease;
}

div#a-task > ul#mainInfo > #taskName:focus , div#a-task > textarea#description:focus{
  outline: transparent;
  transition: 1s all ease;
}
div#tasks-area > div#a-task > ul#mainInfo{
  grid-area: mainInfo;
  display: grid;
  grid-template-columns: 40px 11fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas:"completeBtn name editIcon";
}

div#tasks-area > div#a-task > ul#mainInfo > #complete {
  grid-area: completeBtn;
  border: 2px solid #4653EC;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F5F7;
  margin: 0 10px 0 0;
  padding: 12px 12px;
  cursor: pointer;
  transition: 0.8s all ease;
}

div#tasks-area > div#a-task > ul#mainInfo > #complete.after{
  background: #4653EC;
  transition: 0.8s all ease;
}
div#tasks-area > div#a-task > ul#mainInfo > #taskName {
  grid-area: name;
  font-weight: 500;
  border: none;
  background: inherit;
  font-size: 1rem;
}

div#tasks-area > div#a-task > ul#mainInfo > ul#icons{
  grid-area: editIcon;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

div#tasks-area > div#a-task > ul#mainInfo >  ul#icons > span#edit {
  color: #B6B6B6;
  cursor: pointer;
}

div#tasks-area > div#a-task > ul#mainInfo >  ul#icons > span#edit:hover{
  font-size: 1.8rem;
  transition: 0.8s all ease;
}

div#tasks-area > div#a-task > ul#mainInfo >  ul#icons > span#edit.active{
    color: #4653EC;
    transition: 1s all ease;
}

div#tasks-area > div#a-task > ul#mainInfo >  ul#icons  > span#delete {
  cursor: pointer;
  color: #B6B6B6;
  font-size: 1.4rem;
}

div#tasks-area > div#a-task > ul#mainInfo >  ul#icons > span#delete:hover{
    color: #EE402E;
    font-size: 1.6rem;
    transition: 0.8s all ease;
}


div#tasks-area > div#a-task > #description {
  grid-area: description;
  border: none;
  background: inherit;
  height: 15px;
  font-size: 0.7rem;
}

div#tasks-area > div#a-task > #selection {
  grid-area: selection;
  padding-bottom: 15px;
  border-bottom:1px solid #B6B6B6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

div#tasks-area > div#a-task >  #selection > #due-date {
  padding: 5px 10px 5px 3px;
  width: 90px;
    /* border:1px solid #B6B6B6; */
  border:none;
  border-radius: 7px;
  background: #F4F5F7;
  font-size: 0.7rem;
}

div#tasks-area > div#a-task >  #selection > #task-priority-type {
  padding: 5px 10px 5px 3px;
  width: 50px;
  border:none;
  /* border:1px solid #B6B6B6; */
  border-radius: 7px;
  background: #F4F5F7;
  font-size: 0.7rem;
}

div#tasks-area > div#a-task > #selection > #type {
  padding: 5px 10px 5px 3px;
  width: 100px;
  /* border:1px solid #B6B6B6; */
  border:none;
  border-radius: 7px;
  background: #F4F5F7;
  font-size: 0.7rem;
}

div#tasks-area > div#a-task > #task-action {
  grid-area: taskAction;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 0;
  /* visibility: hidden; */
}

div#tasks-area > div#a-task > #task-action > button {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

div#tasks-area > div#a-task > #task-action > button:nth-child(1) {
  border: 1px solid #B8B8B8;
  background-color:#F4F5F7;
}

div#tasks-area > div#a-task > #task-action > button:nth-child(2) {
  border: 1px solid #4653EC;
  background-color: #4653EC;
  color: #F4F5F7;
}

  
div#tasks-area > div#a-task > #task-action > button:nth-child(1):hover {
  border: 1px solid #4653EC;
  background-color: #F4F5F7;
  color: #4653EC;
  margin: 0 10px;
  transition: 1s all ease;
}

div#tasks-area > div#a-task > #task-action > button:nth-child(2):hover {
  border: 1px solid #D9CEDE;
  background-color: #D9CEDE;
  color: #FCFF7A;
  margin: 0 10px;
  transition: 1s all ease;
}
