@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', sans-serif;
}

body{
  background: #a0a1a2;
  /* background: #e6e6e7; */
  /* background: #EFEFEF; */
}

div#content{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 92px 12fr ;
  grid-template-areas: 
  "header header"
  "nav tasksArea";
  height: 100vh;
}

/* Header */
div#content > div#header{
  grid-area: header;
  height: 92px;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "search logo profile";
}

div#header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
div#header > ul#inbox{
  grid-area: search;
  list-style: none;
  margin-left: 30px;
}



div#header > ul#inbox > li:nth-child(2){
 width: 400px;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
}

div#header > ul#inbox > li:nth-child(1) > span{
  padding: 10px;
  border: 2px solid #FEFAF1;
  border-radius: 7px;
  cursor: pointer;
  color: #FEFAF1;
  
  font-weight: 500;
}
div#header > ul#inbox > li:nth-child(1) > span:hover{
  /* color: #40495A; */
  background-color: #D3D0C7;
  /* border: 2px solid #FEFAF1; */
  transition: 1s all ease;
}

div#header > ul#inbox > li:nth-child(2) > span { 
  position: relative;
  top: 10px;
  left: 40px;
  color: #FEFAF1;
  font-weight: 500;

}

div#header > ul#inbox > li:nth-child(2) > input {
  padding: 10px 70px;
  border-radius: 10px;
  font-size: 1.1rem;
  background: inherit;
  border: 2px solid #FEFAF1;
  color: #e2ff0a;
}

div#header > ul#inbox > li:nth-child(2) > input:focus{
  background: #D3D0C7;
  padding: 10px 78px;
  transition: 1s all ease;
  outline: none;
}


div#header > ul#logo{
  grid-area: logo;
} 

ul#logo > img{
  width: auto;
  height: 70%;
}

div#header > ul#account-info{
  grid-area: profile;
  list-style: none;
}
ul#account-info > li{
  margin-right: 30px;
}

ul#account-info > li > span{
  padding: 10px;
  cursor: pointer;
  
}
ul#account-info > li#add-task > span,  ul#account-info > li#notification > span{
  border: 2px solid #FEFAF1;
  border-radius: 7px;
  color: #FEFAF1;
  font-weight: 500;
}

ul#account-info > li#add-task > span:hover,  ul#account-info > li#notification > span:hover{
  background-color: #D3D0C7;
  /* border: 2px solid #FEFAF1; */
  transition: 1s all ease;
}

ul#account-info > li#profile-pic{
  border: 2px solid #e2ff0a;
  border-radius: 150px;
  /* background: #FEFAF1; */
}
 
ul#account-info > li#profile-pic > img{
  width: auto;
  height: 70%;
}


/* Nav Area */

div#content > div#navbar{
  grid-area: nav;
  /* border: 2px solid #4653EC; */
  border-radius: 0px 20px 20px 0 ;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 4fr 6fr 2fr;
  grid-template-areas: 
  "dateViews"
  "projectViews"
  "soon";
  width: 450px;
  /* background-color:#B6B6B6 ; */
  /* background: rgb(247, 247, 247); */
  background: #b8b9ba;
box-shadow: 0 8px 32px 0 rgba(224, 219, 199, 0.372);
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

div#content > div#navbar > ul{
  margin: 20px 30px;
}

div#content > div#navbar > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 7px;
  background: none;
}

div#content > div#navbar > ul > li:hover{
  background:#D3D0C7;
  transition: 1s all ease;
}

div#content > div#navbar > ul > li.active {
  background:#D3D0C7;
}

div#content > div#navbar > ul#date-views{
  grid-area: dateViews;
  font-weight: 400;
}

div#content > div#navbar > ul#date-views > li:nth-child(1){
  /* color: #655657; */
  color: #FEFAF1;
}
div#content > div#navbar > ul#date-views > li.active:nth-child(1){
  color: #e2ff0a;
}

div#content > div#navbar > ul#date-views > li:nth-child(2){
  /* color: #b3cb03; */
  color: #FEFAF1;
}
div#content > div#navbar > ul#date-views > li.active:nth-child(2){
  color: #e2ff0a;
}


div#content > div#navbar > ul#date-views > li:nth-child(3){
  /* color: #B8C5BC; */
  color: #FEFAF1;
}

div#content > div#navbar > ul#date-views > li.active:nth-child(3){
  color: #e2ff0a;
}

div#content > div#navbar > ul#project-views{
  grid-area: projectViews;
  color: #40495A;
}

div#content > div#navbar > ul#soon{
  grid-area: soon;
  color: #40495A;
  position: relative;
  top: 20px;
}

div#content > div#navbar > ul#soon > li > span{
  color: #40495A;
  background: #a0a1a2;
  padding: 7px 10px;
  border-radius: 7px;
}

/* tasks Area */
div#content > div#tasks-area{
  grid-area: tasksArea;
  /* border: 1px solid red; */
  /* width: 913.867px; */
  padding: 20px 60px;
  margin: 0 30px;


}
div#content > div#tasks-area > h1#area-name{
  font-size: 3rem;
  color: #e2ff0a;
  border-bottom: 1px solid #e2ff0a;

}


div#content > div#tasks-area >  button#show{
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e2ff0a;
  background: inherit;
  border: none;
  border-radius: 7px;
  padding: 10px;
  gap: 5px;
}



div#content > div#tasks-area > button#show:hover{
  /* color: #FCFF7A; */
  background-color: #e2ff0a;
  border: 1px solid #e2ff0a;
  color: #40495A;
  margin: 10px;
  transition: 1s all ease;
}

div#content> div#tasks-area > dialog.add-a-task {
  border: 1px solid #e2ff0a;
  border-radius: 15px;
  width: inherit;
  position: inherit;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  /* "editIcon editIcon editIcon" */
  "name name editIcon"
  "description description description"
  "selection selection selection"
  "taskAction taskAction taskAction";
  gap: 10px;
  font-size: 1.2rem;
  background-color:#a0a1a2;
}
div#tasks-area > dialog#add-a-task > input.task-name:focus , dialog.add-a-task > textarea.task-description:focus{
  outline: transparent;
  transition: 1s all ease;
}

div#tasks-area > dialog.add-a-task > input.task-name{
  grid-area: name;
  font-weight: 700;
  border: none;
  background: inherit;
  outline: none;
}

div#tasks-area > dialog.add-a-task > span{
  grid-area: editIcon;
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: #FEFAF1;
  cursor: pointer;
}
div#tasks-area > dialog.add-a-task > span.active{
  color: #e2ff0a;
  transition: 1s all ease;
}

div#tasks-area > dialog.add-a-task > textarea.task-description{
  grid-area: description;
  border: none;
  background: inherit;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  outline: none;
}


div#tasks-area > dialog.add-a-task > ul.selection {
  grid-area: selection;
  padding-bottom: 15px;
  border-bottom:1px solid #e2ff0a;
  display: flex;
  gap: 10px;
  
}

div#tasks-area > dialog.add-a-task > ul.selection > input.task-due-date{
  grid-area: selection;
  padding: 5px 10px;
  width: 160px;
  border: 1px solid #e2ff0a;
  border-radius: 7px;
  background: inherit;
  color: #e2ff0a;
}

ul.selection > input.task-due-date:focus{
  outline: transparent;
  transition: 1s all ease;
  cursor: pointer;
}
div#tasks-area > dialog.add-a-task > ul.selection > select {
  grid-area: selection;
  padding: 5px 10px;
  width: 160px;
  border: 1px solid #e2ff0a;
  border-radius: 7px;
  background: #a0a1a2;
  color: #e2ff0a;
}
div#tasks-area > dialog.add-a-task > ul.selection > select:focus, div#tasks-area > dialog.add-a-task > ul.selection > select > option::after{
  outline: transparent;
  transition: 1s all ease;
  background-color: #e2ff0a;
  color: #40495A;
}

dialog.add-a-task > ul.selection > select > span.material-symbols-outlined {
  font-family: 'Material Icons';
  font-size: 1rem;
}

div#tasks-area > dialog.add-a-task > select.priority-type:nth-child(1) option:checked{
  color: #EE402E;
}
div#tasks-area > dialog.add-a-task > select.priority-type:nth-child(2) option:checked{
  color: #eb8909;
}
div#tasks-area > dialog.add-a-task > select.priority-type:nth-child(3) option:checked{
  color: #C0E0DB;
}
div#tasks-area > dialog.add-a-task > select.priority-type:nth-child(4) option:checked{
  color: #B8B8B8;
}

div#tasks-area > dialog.add-a-task > select.task-type{
  grid-area: taskType;
}

div#tasks-area > dialog.add-a-task > ul.task-action {
  grid-area: taskAction;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 0;
}

div#tasks-area > dialog.add-a-task > ul.task-action > button{
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

div#tasks-area > dialog.add-a-task > ul.task-action > button:nth-child(1){
  border: 1px solid #40495A;
  color: #40495A;
  background-color:#a0a1a2;
}

div#tasks-area > dialog.add-a-task > ul.task-action > button:nth-child(2){
  border: 1px solid #e2ff0a;
  background-color: #e2ff0a;
  color: #40495A;

}


div#tasks-area > dialog.add-a-task > ul.task-action > button:nth-child(2):hover{
  /* border: 1px solid #e2ff0a; */
  background-color: #a0a1a2;
  /* color: #FEFAF1; */
  color: #e2ff0a;
  margin: 0 10px;
  transition: 1s all ease;
}

div#tasks-area > dialog.add-a-task > ul.task-action > button:nth-child(1):hover{
  border: 1px solid #FEFAF1;
  background-color: #FEFAF1;
  color: #40495A;
  margin: 0 10px;
  transition: 1s all ease;
}



/* taskBlock  */

div#content> div#tasks-area > div.a-task{
  
  border-radius: 15px;
  width: inherit;
  position: inherit;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 30px 4fr 4fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  /* "editIcon editIcon editIcon" */
  "mainInfo mainInfo mainInfo mainInfo"
  ". description description description"
  ". selection selection selection"
  ". taskAction taskAction taskAction";
  gap: 10px;
  background-color: #a0a1a2;
  font-weight: 300;
  color: #40495A;
}
div#content> div#tasks-area > div.a-task.edit-mode{
  border: 1px solid #e2ff0a;
  transition: 1s all ease;
  background: #b8b9ba;
  box-shadow: 0 8px 32px 0 rgba(224, 219, 199, 0.372);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

div.a-task > ul.mainInfo > .taskName:focus , div.a-task > textarea.description:focus{
  outline: transparent;
  transition: 1s all ease;
  /* color: #e2ff0a; */
}
div#tasks-area > div.a-task > ul.mainInfo{
  grid-area: mainInfo;
  display: grid;
  grid-template-columns: 40px 11fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas:"completeBtn name editIcon";
}

div#tasks-area > div.a-task > ul.mainInfo > .complete {
  grid-area: completeBtn;
  border: 2px solid #e2ff0a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a0a1a2;
  margin: 0 10px 0 0;
  padding: 12px 12px;
  cursor: pointer;
  transition: 0.8s all ease;
}

div#tasks-area > div.a-task > ul.mainInfo > .complete.after{
  background: #e2ff0a;
  /* transition: 0.8s all ease; */
}
div#tasks-area > div.a-task > ul.mainInfo > .taskName {
  grid-area: name;
  font-weight: 500;
  border: none;
  background: inherit;
  font-size: 1rem;
  color: #40495A;
}
div#tasks-area > div.a-task > ul.mainInfo > .taskName.done{
  text-decoration: line-through;
  color: #e2ff0a;
}

div#tasks-area > div.a-task > ul.mainInfo > ul.icons{
  grid-area: editIcon;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

div#tasks-area > div.a-task > ul.mainInfo >  ul.icons > span.edit {
  color: #FEFAF1;
  cursor: pointer;
}

div#tasks-area > div.a-task > ul.mainInfo >  ul.icons > span.edit:hover{
  font-size: 1.7rem;
  color: #e2ff0a;
  transition: 0.8s all ease;
}

div#tasks-area > div.a-task > ul.mainInfo >  ul.icons > span.edit.active{
    color: #e2ff0a;
    transition: 1s all ease;
}

div#tasks-area > div.a-task > ul.mainInfo >  ul.icons  > span.delete {
  cursor: pointer;
  color: #FEFAF1;
  font-size: 1.4rem;
}

div#tasks-area > div.a-task > ul.mainInfo >  ul.icons > span.delete:hover{
    color: #EE402E;
    font-size: 1.6rem;
    transition: 0.8s all ease;
}


div#tasks-area > div.a-task > .description {
  grid-area: description;
  border: none;
  background: inherit;
  height: 12px;
  font-size: 0.7rem;
  color: #40495A;
}

div#tasks-area > div.a-task > .selection {
  grid-area: selection;
  padding-bottom: 15px;
  border-bottom:1px solid #e2ff0a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

div#tasks-area > div.a-task >  .selection > .due-date {
  padding: 5px 10px 5px 3px;
  width: 97px;
    /* border:1px solid #B6B6B6; */
  border:none;
  border-radius: 7px;
  background: #a0a1a2;
  font-size: 0.7rem;
  color: #e2ff0a;
}

div#tasks-area > div.a-task >  .selection > .task-priority-type {
  padding: 5px 10px 5px 3px;
  width: 50px;
  border:none;
  /* border:1px solid #B6B6B6; */
  border-radius: 7px;
  background: #a0a1a2;
  color: #e2ff0a;
  font-size: 0.7rem;
}

div#tasks-area > div.a-task > .selection > .type {
  padding: 5px 10px 5px 3px;
  width: 100px;
  /* border:1px solid #B6B6B6; */
  border:none;
  border-radius: 7px;
  background: #a0a1a2;
  color: #e2ff0a;
  font-size: 0.7rem;
}

div#tasks-area > div.a-task > .task-action {
  grid-area: taskAction;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px 0;
  /* visibility: hidden; */
}

div#tasks-area > div.a-task > .task-action > button {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

div#tasks-area > div.a-task > .task-action > button:nth-child(1) {
  border: 1px solid #40495A;
  color: #40495A;
  background-color:inherit;
}

div#tasks-area > div.a-task > .task-action > button:nth-child(2) {
  border: 1px solid #e2ff0a;
  background-color: #e2ff0a;
  color: #40495A;
}

  
div#tasks-area > div.a-task > .task-action > button:nth-child(1):hover {
  border: 1px solid #FEFAF1;
  background-color: inherit;
  color: #FEFAF1;
  margin: 0 10px;
  transition: 1s all ease;
}

div#tasks-area > div.a-task > .task-action > button:nth-child(2):hover {
  background-color: inherit;
  /* color: #FEFAF1; */
  color: #e2ff0a;
  margin: 0 10px;
  transition: 1s all ease;
}
